<section id="products" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-offset-3 col-md-3">
        <div class="thumbnail">
          <img src="{% asset_path logo.png %}" alt="Scalp Tonic">
          <div class="caption">
            <h3>Scalp Tonic</h3>
            <p class="text-muted"><span class="text-primary">Afridakari</span> Scalp Tonic is a scientific, nutrient rich formula made from the finest natural ingredients. It is designed to give your hair the perfect environment that will stimulate the developing hair so that it grows out of the scalp as thick, strong, and as fast as possible. <span class="text-primary">Afridakari</span> Scalp Tonic has a spout application meant for reaching the scalp of the head in an easy fashion. The core ingredients are Moroccan oil, Avocado oil, Almond oil and Coconut oil.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{% asset_path logo.png %}" alt="Scalp Tonic">
          <div class="caption">
            <h3>Hair Food</h3>
            <!-- <p class="text-muted"><span class="text-primary">Afridakari</span> Hair Food comprises oils, humectants and cationic surfactant aimed at providing the essentials necessary to promote healthy manageable hair. <span class="text-primary">Afridakari</span> Hair Food complements <span class="text-primary">Afridakari</span> Scalp Tonic creating a synergy when used together. <span class="text-primary">Afridakari</span> Scalp Tonic looks after your hair from the inside while <span class="text-primary">Afridakari</span> Hair Food looks after your hair from the outside.</p> -->
            <p class="text-muted"><span class="text-primary">Afridakari</span> Hair Food is a scientific, nutrient rich formula made from the finest natural ingredients. It  is designed to give moisture, hydration and protection to your hair. <span class="text-primary">Afridakari</span> Hair Food has a unique spray application which is different from the traditional wax/putty/cream hair food that is available in the market today. The reason that we at <span class="text-primary">Afridakari</span> have designed this spray application is because we have found the traditional wax/putty/cream hair food to be messy, cause flakes and hard to reach the scalp. Our spray-on <span class="text-primary">Afridakari</span> Hair Food is non-greasy, non-messy and is easily absorbed by the hair and scalp. The core ingredients are Moroccan oil, Avocado oil, Almond oil and Coconut oil.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
